body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  position:absolute;
  left:111px;
  top:28px;
  width:320px;
  height:640px;
}
#u233 {
  position:absolute;
  left:2px;
  top:312px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:190px;
}
#u234 {
  position:absolute;
  left:111px;
  top:88px;
  width:320px;
  height:190px;
}
#u235 {
  position:absolute;
  left:2px;
  top:87px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  position:absolute;
  left:111px;
  top:628px;
  width:320px;
  height:40px;
}
#u237 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:111px;
  top:28px;
  width:100px;
  height:27px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u240 {
  position:absolute;
  left:211px;
  top:28px;
  width:120px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:111px;
  top:58px;
  width:320px;
  height:30px;
}
#u242_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:326px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:35px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u245 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u246 {
  position:absolute;
  left:107px;
  top:0px;
  width:107px;
  height:30px;
}
#u247 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u248 {
  position:absolute;
  left:214px;
  top:0px;
  width:106px;
  height:30px;
}
#u249 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  position:absolute;
  left:331px;
  top:28px;
  width:100px;
  height:30px;
}
#u251 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u252 {
  position:absolute;
  left:129px;
  top:633px;
  width:31px;
  height:31px;
}
#u253 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u254 {
  position:absolute;
  left:247px;
  top:631px;
  width:35px;
  height:35px;
}
#u255 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u256 {
  position:absolute;
  left:121px;
  top:35px;
  width:20px;
  height:20px;
}
#u257 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u258 {
  position:absolute;
  left:379px;
  top:629px;
  width:35px;
  height:35px;
}
#u259 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260 {
  position:absolute;
  left:111px;
  top:278px;
  width:320px;
  height:212px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u262 {
  position:absolute;
  left:281px;
  top:583px;
  width:140px;
  height:40px;
}
#u263 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:121px;
  top:491px;
  width:305px;
  height:95px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u266 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u267 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u268 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u269 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u270 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u271 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u272 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u273 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u274 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u275 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u276 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u277 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u278 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u279 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u280 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u281 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u282 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
